@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

@supports (-webkit-touch-callout: none) {
  /* iOS Safari fullscreen fix */
  html, body {
    height: -webkit-fill-available;
  }
}

